.income__title
{
    float: left;
    margin-left: 20px;
    color: azure;
    margin-top: 20px;
    margin-bottom: 3px;
}

.expenses__title
{
    float: right;
    margin-right: 20px;
    color: azure;
    margin-top: 20px;
    margin-bottom: 3px;
}

.bilans
{
    float: left;
    color: azure;
    margin-top: 20px;
    margin-left: 150px;
    margin-bottom: 10px;
}

#reportrange
{
    background: #fff;
    cursor: pointer; 
    padding: 5px 10px;
    border: 1px solid #ccc;
    width: 100%;
    color:black;
    opacity: 0;
}
