h4
{
    color: #2C3E50;
    font-weight: 600;
    background-color: #36D7B7;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 4px;
    border-radius: 3px;
}

#sums
{
    margin-bottom: 20px;
}

.center_row
{
    color:azure;
    font-weight: 100;
    text-align: center;
    background-color: #019875 ;
    margin-left: 150px;
    margin-right: 150px;
    padding-left: 4px; 
    margin-bottom: 20px;
    border-radius: 3px;
}

.budget_realisation, .income_data, th, td
{
    border: 1px solid black;
    padding: 5px;
    margin-left: 220px;
    text-align: left;
    background-color: #019875;
    font-weight: 100;
    font-size: 15px;
    border-radius: 3px;
}

.budget_realisation, .income_data
{
    margin-bottom: 20px;
}

th
{
    color: white;
    background-color: #1E824C; 
    font-weight: 700;
}

td
{
   color: white; 
}

.income__title
{
    float: left;
    margin-left: 20px;
    color: azure;
    margin-top: 20px;
    margin-bottom: 3px;
}

.expenses__title
{
    float: right;
    margin-right: 20px;
    color: azure;
    margin-top: 20px;
    margin-bottom: 3px;
}

.bilans
{
    float: left;
    color: azure;
    margin-top: 20px;
    margin-left: 150px;
    margin-bottom: 10px;
}

#reportrange
{
    background: #fff;
    cursor: pointer; 
    padding: 5px 10px;
    border: 1px solid #ccc;
    width: 100%;
    color:black;
    opacity: 0;
}

.container_clearfix
{
   border: 1px solid #ddd;
   margin-top: 2px; 
   margin-bottom: 2px;
   border-radius: 3px;
} 